
<!DOCTYPE html>
<html lang="en">
<title>Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link href="css/jquery-ui.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="css/style.css" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Amiri' rel='stylesheet'>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar,
    h1,
    button {
        font-family: "Montserrat", sans-serif
    }

    .fa-anchor,
    .fa-coffee {
        font-size: 200px
    }

    ul {
        text-align: left;
        font-family: 'Amiri'
    }

    h2 {
        text-align: left;
        font-family: 'Sofia'
    }

    h1 {
        font-family: 'Sofia'
    }

    h5 {
        font-family: 'Amiri'
    }
</style>

<script>
    var app = angular.module('myApp', []);
    app.factory('MyFactoryService', function() {
    var factory = {};
    factory.Discount = function(a, b) {

        console.log("Amount is "+a);
        var result = a - (b/100 * a);
        return result;
    };
    // console.log(factory);
    return factory;
});
    app.controller('customersCtrl1', function ($scope, $http, MyFactoryService) {
        
        $http.get("demo_db.js")
            .then(function (response) { $scope.names = response.data.records; 
            console.log($scope.names);
            });
        });    
//this.num =0;       
app.controller('productsCtrl', function ($scope, $http, MyFactoryService) {
        $scope.ans = {};
       
    $scope.result = function(cost) {
        switch($scope.ans.num)
        {
            case 'DISC20' : $scope.ans.num = 20;
                            break;
            case 'DISC25' : $scope.ans.num = 25;
                            break;
            case 'DISC30' : $scope.ans.num = 30;
                            break;
            case 'DISC40' : $scope.ans.num = 40;
                            break;
        }

        console.log($scope.ans.num);
        $scope.res = 
        MyFactoryService.Discount(cost, $scope.ans.num)
        console.log($scope.res);
        //   console.log($scope.num);
    };
});
       
</script>




<body>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-indigo w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
                href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large  w3-hover-white"><i
                    class="fa fa-user w3-margin-right w3-hover-white"></i>UserName</a>
            <div class="w3-right w3-hide-small">
                <a href="homepage.html" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
                <!---
	<p>This is another example paragraph.</p>
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Inventory</a>
--->

                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-button" title="Notifications">Inventory <i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <a href="billrolls.html" class="w3-bar-item w3-button">Billrolls</a>
                        <a href="printers.html" class="w3-bar-item w3-button">Printers</a>
                        <a href="others.html" class="w3-bar-item w3-button">Others</a>
                    </div>
                </div>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Print
                    Preview</a>
                <a href="feedback.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Feedback</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white"><i
                        class="fa fa-sign-out w3-margin-right"></i>Logout</a>

            </div>
        </div>

    </div>



    <div class="row">
        <br />
        <br>
        <br>
        <!-- <h2 align="center">Run 'N' Gun</h2> -->
        <br>
        <br>
        <br>
        <br>


        <div class="col-md-2">
        </div>





        
        <div class="col-md-8">
            <br />
            <div class="row filter_data">

                <div ng-app="myApp" ng-controller="customersCtrl1">


                    <div ng-repeat="x in names">
                        <div class="col-6 col-sm-4">
                            
                            <div class="box" ng-controller = "productsCtrl">
                                <img ng-src="images/Printers/{{x.Image}}" alt="" class="img-responsive">
                                <br>
                                <p style="padding:3px;" align="center"><strong><a href="#">Name :
                                            {{x.Name}}</a></strong></p>
                                <h5 style="text-align:center;" class="text-danger"><b>Cost : ₹{{x.Cost}}</h5>
                                <p style="padding:3px;" align="center" class="text-warning"><b>DPI : {{x.DPI}} </p>
                                <p style="padding:3px;" align="center" class="text-success bg-dark"><b>Max Speed :
                                        {{x.MaxSpeed}} </p>
                                <p style="padding:3px;" align="center" class="text-secondary"><b>Type : {{x.Type}} </p>


                                <div class="text-center">
                                    <p>
                                        Enter the Coupon code:
                                       
                                        <input style = "background-color: black;"  type="text"   ng-model="ans.num">
                                        

                                    </p>
                                      <!-- <button ng-click="result2()"> Discount</button> -->
                                      <button ng-click="result(x.Cost)" class="btn btn-primary" >Discount</button>
                                    
                                      <!-- <p>In Cart: {{count}}<p> -->

                                        <!-- <p> You have entered {{ans.num}} </p> -->
                                        <br>
                                        <br>
                                        <p> Discounted Price: {{res}}</p>
                                    

                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
    <style>
        #loading {
            text-align: center;
            background: url('loader.gif') no-repeat center;
            height: 150px;
        }

        .box {
            border: 1px solid #ccc !important;
            border-radius: 5px !important;
            padding: 0px !important;
            margin-bottom: 20px !important;
            height: 630px !important;
            box-shadow: 3px 5px 8px 10px black;
        }
    </style>


  
</body>

</html>